<%- include('userHeader') %>

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #f8f9fa;
        /* Chrome 10-25, Safari 5.1-6 */
        background: #f8f9fa;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: #f8f9fa
    }
</style>

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <%if(locals.cartItems) { %>
                            <h5 class="mb-0">Cart </h5>
                        <% } else { %>
                            <h5 class="mb-0">Cart  Empty</h5>
                        <%}%>
                    </div>
                    <!-- <%if(locals.cartItems) { %> -->
                        <div class="card-body">
                        
                        <% cartItems.forEach((item) => { %>
                            <%if(item.quantity != 0 ) {%>
                           <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                    <img src="/assets/productImages/<%= item.product.productImages[0]  %>"
                                    class="w-100" alt="Blue Jeans Jacket" />
                                    <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </a>
                                </div>
                            <!-- Image -->
                            </div>
                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <h4><strong><%= item.product.productName %></strong></h4>
                                <p class="card-text text-success"> <%= item.product.productStock? "IN STOCK" : "OUT OF STOCK" %></p>
                                <p class="act-price">
                                    <span>&#8377;</span><%=item.product.productPrice %>
                                </p>
                                <a type="button" class="btn btn-primary btn-sm me-1 my-3" data-mdb-toggle="tooltip" href="/deletefromcart?id=<%=item.product._id%>"
                                    title="Remove item">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <!-- <button type="button" class="btn btn-danger btn-sm my-3" data-mdb-toggle="tooltip"
                                    title="Move to the wish list">
                                    <i class="fas fa-heart"></i>
                                </button> -->
                                <!-- Data -->
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <div class="d-flex mb-4" style="max-width: 200px; height: 40px;">
                                    <!-- <a class="btn btn-primary px-3 me-2" href="/reduceqty?id=<%=item.product._id%>"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </a> -->
                                    <a class="btn btn-primary px-3 me-2" href="/reduceqty?id=<%=item.product._id%>"
                                        onclick="confirmDecrease(this)">
                                        <i class="fas fa-minus"></i>
                                    </a>
                                    <div class="form-outline">
                                    <input id="form1" min="1" name="quantity" value="<%=item.quantity%>" type="number" class="form-control" />
                                    <label class="form-label" for="form1">Quantity</label>
                                    </div>
                                    <a class="btn btn-primary px-3 ms-2" href="/addqty?id=<%=item.product._id%>"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" /> 
                        <% } %>
                        <% }) %>
                    </div>
                    <!-- <% } %> -->
                    
                </div>
            </div>
            <%if(locals.cartItems) {%>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Summary</h5>
                        </div>
                        <div class="card-body">
                            <!-- Summary Content -->
                            <ul class="list-group list-group-flush">
                                <!-- ... (Existing content) ... -->
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Products
                                    <% if(locals.totalSum) { %>
                                        <span>&#8377;</span><%=totalSum %>
                                    <%}%>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>Free</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                    <strong>Total amount</strong>
                                    <strong>
                                        <p class="mb-0">(including VAT)</p>
                                    </strong>
                                    </div>
                                    <% if(locals.totalSum) {%>
                                        <span>&#8377;</span><strong><%= totalSum %></strong>
                                    <%}%>
                                </li>
                            </ul>
                            <a type="button" href="/checkout" class="btn btn-primary btn-lg btn-block">
                                Go to checkout
                            </a>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</section>


<hr class="my-4">

<script>
    function confirmDecrease(link) {
        var inputElement = link.parentNode.querySelector('input[type=number]');
        var currentQuantity = parseInt(inputElement.value);
        
        if (currentQuantity === 1) {
            var confirmation = confirm("Are you sure you want to remove this item?");
            if (!confirmation) {
                event.preventDefault(); // Prevent the link action if user cancels
            }
        } else {
            inputElement.stepDown();
        }
    }
</script>
<%- include('userFooter') %>
