<%- include ('userHeader') %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #f8f9fa;
        /* Chrome 10-25, Safari 5.1-6 */
        background: #f8f9fa;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: #f8f9fa
    }
</style>

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <%if(locals.wishItems) { %>
                            <h5 class="mb-0">Wishlist </h5>
                        <% } else { %>
                            <h5 class="mb-0">Wishlist  Empty</h5>
                        <%}%>
                    </div>
                    <%if(locals.wishItems) { %>
                        <div class="card-body">
                        <% wishItems.forEach((item) => { %>
                           <div class="row">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                        <img src="/assets/productImages/<%= item.productImages[0]  %>"
                                        class="w-100" alt="Blue Jeans Jacket" />
                                        <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                <!-- Image -->
                                </div>
                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <h4><strong><%= item.productName %></strong></h4>
                                    <p class="card-text text-success"> <%= item.productStock? "IN STOCK" : "OUT OF STOCK" %></p>
                                    <p class="act-price">
                                        <span>&#8377;</span><%=item.productPrice %>
                                    </p>
                                    <a type="button" class="btn btn-primary btn-sm me-1 my-3" data-mdb-toggle="tooltip" href="/deletefromwish?id=<%=item._id%>"
                                        title="Remove item">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" >
                                    <button class="btn btn-primary text-uppercase mr-2 px-4" id="cartButton" onclick="addtoCart('<%= item._id %>')">Add to Cart</button>
                                    <div class="toast-container position-fixed top-0 end-0 p-3">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" /> 
                        <% }) %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('userFooter') %>

<script>

    function showToast(message, type) {
        const toastContainer = document.querySelector('.toast-container');
        const toast = document.createElement('div');
        toast.className = `toast bg-${type} text-black`;
        toast.setAttribute('role', 'alert');
        toast.setAttribute('aria-live', 'assertive');
        toast.setAttribute('aria-atomic', 'true');
    
        const toastBody = document.createElement('div');
        toastBody.className = 'toast-body';
        toastBody.textContent = message;
    
        toast.appendChild(toastBody);
        toastContainer.appendChild(toast);
    
        const bsToast = new bootstrap.Toast(toast);
        bsToast.show();
    }
    
    
    function addtoCart (id) {
        console.log(id);
        $.ajax ({
            url: '/addtocart?id='+id,
            type: 'post',
            // data: JSON.stringify(id),
            data: id,
            contentType: 'text/plain',
            // contentType: 'application/json',
            success: (data) => {
                showToast('Item added to Cart', 'Success')
                console.log("added to cart");
            },
            error: (xhr, status, error) => {
                console.error(error);
            }
        })
    }
    
    
    
    </script>
